{include file="header.html" title=$title}

                                        <div class="news">
                                                <h1>О каталоге</h1>
                                                        <div class="item">
                                                                <p>Данный ресурс является специализированным каталогом форумов. Если у вас есть качественный форум, добавьте его в данный каталог, указав необходимые данные о нём. В каталоге действует премодерация, поэтому добавленные форумы появятся в каталоге не сразу, а только после одобрения модератором.</p>
                                                                <p>Все принятые форумы участвуют как в <a href="http://forumcatalog.ru/statistics/">статистике форумов</a>, так и в <a href="http://forumcatalog.ru/rating/">рейтинге форумов</a>. Не поленитесь составить правильное описание для своего форума, чтобы не искажать статистику.</p>
                                                        </div>
                                                        <div class="item">
                                                                <h2>Правила каталога</h2>
                                                                <p>Предложенные пользователями форумы публикуются на сайте только при условии соответствия правилам каталога:</p>
                                                                <ol>
                                                                        <li>Предложенный ресурс должен являться форумом. Ссылка в анкете должна вести на форум, даже если форум находится во вложенной директории на сайте.</li>
                                                                        <li>Описание форума должно быть уникальным (проверяется по поисковикам). Для удобства его составления в форме добавления приведён ряд вопросов, ответив на которые, можно получить правильное описание. Однако данный способ не является обязательным и описание может быть приведено в другой форме.</li>
                                                                        <li>Описание форума не должно быть коротким. Пожалуйста, не добавляйте в каталог форумы с описанием из одного предложения — сэкономьте своё время, ведь такие форумы всё равно не будут добавлены. Чем больше и лучше описание, тем выше шансы на размещение форума в каталоге.</li>
                                                                        <li>Все данные в форме добавления форума должны соответствовать реальности. Особенно это касается полей «Движок форума», «Год запуска», «Интеграция с cms» и «Наличие портала». При несоответствии данных форум не будет размещён в каталоге.</li>
                                                                </ol>
                                                        </div>
                                                        <div class="item">
                                                                <h2>Кнопка</h2>
                                                                <p>Вы можете разместить на своём форуме или блоге кнопку нашего каталога. При добавлении форума в каталог такая кнопка увеличит шансы на успешное рассмотрение заявки.</p>
                                                                <p style="text-align:center;"><a href="http://forumcatalog.ru/"><img src="http://forumcatalog.ru/images/b/button.gif" alt="каталог форумов" /></a></p>
                                                                <textarea readonly="readonly" style="width:98%"><a href="http://forumcatalog.ru/"><img src="http://forumcatalog.ru/images/b/button.gif" alt="каталог форумов" /></a></textarea>
                                                                <textarea readonly="readonly" style="width:98%">[url=http://forumcatalog.ru/][img]http://forumcatalog.ru/images/b/button.gif[/img][/url]</textarea>
                                                        </div>
                                                        <div class="item">
                                                                <h2>Контакты</h2>
                                                                <p>По всем вопросам можете писать на контактный e-mail <a href="mailto:42@forumstudio.ru">42@forumstudio.ru</a>.</p>
                                                        </div>
                                                        <div class="item">
                                                                <h2>Другие наши проекты:</h2>
                                                                <ul>
                                                                        <li><a href="http://fladex.ru/">phpBB Adept</a></li>
                                                                        <li><a href="http://forumadmins.ru/?r=2">Форум для администраторов форумов</a></li>
                                                                        <li><a href="http://lastforum.ru/?r=2">Форум с оплатой за сообщения</a></li>
                                                                        <li><a href="http://forummap.ru/">Сервис генерации sitemap для форумов</a></li>
                                                                        <li><a href="http://forumstat.ru/">Сервис сбора статистики с форумов</a></li>
                                                                        <li><a href="http://forumquoter.ru/">Цитатник форумов</a></li>
                                                                </ul>
                                                        </div>

{include file="footer.html"}