{include file="header.html" title=$title}

                                    <div class="news">
                                           <h1>Непрошедшие модерацию</h1>
                                           <div class="item">
                                           <table width="100%" cellspacing="0" border="0" class="viewforum">
                                           <tr>
                                                   <th width="49%">Форум</th>
                                                   <th width="49%">Причина отказа</th>
                                           </tr>
                                            {foreach from=$refusal_forums item=forum name=forum}
                                                {if $smarty.foreach.forum.iteration % 2 == 1}
                                                    <tr class="row1">
                                                {else}
                                                    <tr class="row2">
                                                {/if}
                                                    <td>{$forum.title}</td>
                                                    <td>{$forum.refusal}</td>
                                                </tr>
                                            {/foreach}
                                           </table>
                                           </div>

{include file="footer.html"}