{include file="header.html" title=$title}

					<div class="news">
						<h1>{$title}</h1>
							<div class="item">
								<p>На этой странице вы можете воспользоваться поиском по сайту. Для этого введите искомый запрос в текстовое поле, расположенное ниже и нажмите кнопку &laquo;Искать&raquo;. В результате будет осществлён поиск по всем страницам каталога форумов. Результат поиска будет выведен ниже.</p>
							</div>
							<div class="item">
								<!-- Поиск. Начало. -->
								<div>
									<form method="post" action="" onsubmit="javascript:Search_onsubmit(1); return false;">
										<div>
											<input type="text" id="search_text" value="{$sSearch_text}" maxlength="100" size="50" />
											<input type="submit" id="search_submit" value="Искать" />
										</div>
									</form>
									<noscript>Для работы поиска включите в браузере JavaScript.</noscript>
									<div class="search_div" id="search_div"></div>
									<script type="text/javascript">
										<!--
										document.onkeydown = L_page_onkeydown;
										{if !$sSearch_text}
											Search_onsubmit(1)
										{/if}
										//-->
									</script>
								</div>
								<!-- Поиск. Конец. -->
							</div>

{include file="footer.html"}