{include file="header.html" title=$title}

                                        <div class="news">
                                                <h1>Статистика форумов</h1>
                                                        <p>Статистические данные, собранные на основе добавленных в каталог форумов:</p>
                                                        <p style="text-align:center;"><img src="/images/temp/example10.png" alt="Диаграмма популярности движков форумов" /><br /><i>Распределение движков среди добавленных в каталог форумов</i></p>
                                                        <p style="text-align:center;"><img src="/images/temp/years.png" alt="Диаграмма запуска форумов по годам" /><br /><i>Распределение по годам запуска форумов среди добавленных в каталог форумов</i></p>

{include file="footer.html"}